<h1>All Sports</h1>

<%= link_to 'Create Sport', new_sport_path %>

<% @sports.each do |sport| %>
	<h2><%= link_to sport.name, sport %></h2>
	<p><%= sport.created_at.strftime("%B, %d, %Y") %></p>
<% end %>