<div>
<h3>Welcome</h3>
</div>

<div id="splash_page_description">
<p>Do you love to play sports?  Are you constantly having trouble finding enough people to play with you?  Well site tight because Instamurals has you cover!</p>
<p>With Instamurals you and your team and find other teams to play against.  Don't have a team?  No worries, you can find on here at Instamurals!  Sign up now and start playing your favorite sport within the hour.</p>
<p>First sign up with Instramurals, next join or create a team.  Then find another team in the same sport and schedule a game.  Or you might be contacted to become a sub in another game and you can start playing whenever you're needed!  It's that easy.</p>
</div>
<div>


<% if logged_in? %>
  <%= link_to "find a team", teams_path %>
<% else %>
  <%= link_to 'sign up', new_user_path %>
<% end %>
</div>
