<div class="container marketing">
  <hr />

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="img-circle" src="/assets/teams" alt="Teams" width="140" height="140">
      <h2>Teams</h2>
      <p>Join a team or create your own! When you start a team, you pick your sport, give your team a name and start scheduling games.</p>
      <p><a class="btn btn-default" href="<%= teams_path %>" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="/assets/games" alt="Games" width="140" height="140">
      <h2>Games</h2>
      <p>So many games to choose from! Don't see the a game you are intersted, start your own team and add your own game.</p>
      <p><a class="btn btn-default" href="<%= games_path %>" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="/assets/stats" alt="Stats" width="140" height="140">
      <h2>Stats</h2>
      <p>How well is your team doing? What is the competition like for an upcoming event. View team stats and get in the game.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

</div><!-- /.container -->
