<div class="container marketing">
  <hr />

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="img-circle" src="/assets/teams" alt="Teams" width="140" height="140">
      <h2>Teams</h2>
      <p>Join a team or create your own! When you start a team, you pick your sport, give your team a name and start scheduling games.</p>
      <p><a class="btn btn-default" href="<%= teams_path %>" role="button">View teams &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="/assets/games" alt="Games" width="140" height="140">
      <h2>Games</h2>
      <p>So many games to choose from! Don't see the a game you are intersted, start your own team and add your own game.</p>
      <p><a class="btn btn-default" href="<%= games_path %>" role="button">View games &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="/assets/sports" alt="Sports" width="140" height="140">
      <h2>Sports</h2>
      <p>Stay active all year round with our InstaMural sports leagues. Grab some friends and co-workers and sign up for one of our sports or activities today!</p>
      <p><a class="btn btn-default" href="<%= sports_path %>" role="button">View sports &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

</div><!-- /.container -->
